// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #e1d2ef;
$white: #fff;
$black: #24242a;
$secondary-colors: #830A48;
