.about {
  position: relative;
  .about-row {
    overflow: hidden;
    display: flex;
    align-items: right;
    @media (max-width: $layout-breakpoint-medium) {
      &:first-child {
        margin-top: 50px;
      }
    }
    .row-col {
      width: 60%;
      display: flex;
      align-items: right;
      justify-content: flex-end;
      @media (max-width: $layout-breakpoint-medium) {
        width: 70%;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        width: 80%;
      }
      .row-message { // short about intro
        font-weight: 50;
        font-size: 1.8rem;
        line-height: 2.6rem;
        width: 320px;
      }
    }
  }
}