.footer {
  font-size: 1.8rem;
  height: 196px;
  background-color: #1d1836;
  padding: 5% 5%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $layout-breakpoint-medium) {
    font-size: 1.6rem;
  }

  @media (max-width: $layout-breakpoint-xsmall) {
    height: 250px;
    font-size: 1.2rem;
  }

  .footer-inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    margin-top: -5rem;
    padding: 0 4rem;

    // First Column - Logo
    .logo {
      font-weight: 700;
      padding: 5px;
      font-size: 3.6rem;
      justify-self: start;

      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        flex: 4;
      }
    }

    // Second Column - Social Buttons
    .social-buttons {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      margin-top: -2rem;
      justify-self: center;

      .social-button {
        cursor: pointer;
        width: 35px;
        height: 35px;
        background-color: #fab2ea;
        border-color: #830a48;
        padding: 8px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #d0fef5;
        }

        .fa-brands,
        .fa-regular {
          color: black;
          font-size: 20px;
        }
      }

      @media (max-width: $layout-breakpoint-small) {
        display: grid;
        grid-template-columns: repeat(2, 35px);
        grid-template-rows: repeat(2, 35px);
        gap: 1rem;
        margin-top: -8rem;

        .social-button {
          width: 30px;
          height: 30px;
          padding: 6px;

          .fa-brands,
          .fa-regular {
            font-size: 16px;
          }
        }
      }

      @media (max-width: $layout-breakpoint-xsmall) {
        grid-template-columns: repeat(2, 30px);
        grid-template-rows: repeat(2, 30px);
      }
    }

    // Third Column - Navigation
    .nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-self: end;
      margin-right: 0;

      li {
        list-style: none;
        padding: 0 20px;
        text-align: left;

        div {
          width: 7px;
          height: 7px;
          background: transparent;
          border-radius: 50%;
          align-self: center;
          margin: 0 auto;
          margin-bottom: 5px;
          transition: all 0.3s ease-in-out;
        }

        a {
          text-decoration: none;
          color: #fab2ea;
          white-space: nowrap;
          margin-right: 10px;
        }

        &:hover {
          a {
            color: #830a48;
            cursor: pointer;
          }
          div {
            background: #830a48;
          }
        }
      }
    }

    @media (max-width: $layout-breakpoint-medium) {
      padding: 0 2rem;
      gap: 1.5rem;
    }

    @media (max-width: $layout-breakpoint-small) {
      padding: 0 1rem;
      gap: 1rem;
    }
  }

  // Scroll to top button
  .scroll-to-top-button {
    cursor: pointer;

    .scroll {
      height: 40px;
      width: 40px;
      border-radius: 30%;
      position: fixed;
      background: #fab2ea;
      padding: 12px;
      align-items: center;
      font-weight: 500;
      justify-content: center;
      flex-direction: column;
      left: 90%;
      bottom: 20px;

      &:hover {
        color: #830a48;
        cursor: pointer;
      }

      .fa-solid {
        font-size: 20px;
      }

      @media (max-width: $layout-breakpoint-small) {
        display: none;
        font-size: 10px;
      }

      span {
        font-size: 17px;
        font-weight: 600;
        margin: 4px 0;

        @media (max-width: $layout-breakpoint-xsmall) {
          font-size: 10px;
          margin: 2px 0;
          display: none;
        }
      }
    }
  }
}
