.header {
  font-size: 1.8rem;
  height: 156px;
  display: flex;
  justify-content: center;
  padding: 0 108px;
  color: $black;
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 72px;
    font-size: 1.6rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding: 0 12px;
    height: 96px;
    font-size: 1.2rem;
  }
  .header-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 700;
      font-size: 3.6rem;
      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        flex: 4;
      }
    }
    .nav {
      @media (max-width: $layout-breakpoint-medium) {
        display: none;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li {
        list-style: none;
        margin: 0 40px;
        padding: 5px;
        div { /* top dots */
          width: 7px;
          height: 7px;
          background: transparent;
          border-radius: 50%;
          align-self: center; 
          margin: 0 auto; 
          margin-bottom: 5px;
          transition: all 0.3s ease-in-out;
        }
        a {
          text-decoration: none;
          color: $black;
          white-space: nowrap;
        }&:hover {
          a {
            color: #830A48;
            cursor: pointer;
          }
          div {
            background: #830A48;
          }
        }
      }
    }
    .contact {
      @media (max-width: $layout-breakpoint-medium) {
        flex: 1;
      }
      a {
        color: $black;
        text-decoration: none;
        border-bottom: 2px solid $black;
        padding-bottom: 12px;
        white-space: nowrap;
        @media (max-width: $layout-breakpoint-xsmall) {
          border: none;
        }
      }
      &:hover {
        a {
          color: #830A48; // Change the color when .contact is hovered
          cursor: pointer; // Change cursor to pointer on hover
        }
      }
    }
    //new
    .button{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #830A48;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: $layout-breakpoint-medium) {
        display: none;
      }
      @media (max-width: $layout-breakpoint-small) {
        width: 50px;
        height: 50px;
      }
      @media (max-width: $layout-breakpoint-xsmall) {
        width: 30px;
        height: 30px;
      }
    }
    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }
        &::after{
            top: -5px;
        }
        &::before{
            top: 5px;
        }
    }
    .burgerActive{
        &::after{
            transform: rotate(45deg);
            top: -1px;
        }
        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
    }
  }
}

.header-slider{
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 100;
  .button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #830A48;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $layout-breakpoint-medium) {
      display: none;
    }
    @media (max-width: $layout-breakpoint-small) {
      width: 50px;
      height: 50px;
    }
    @media (max-width: $layout-breakpoint-xsmall) {
      width: 30px;
      height: 30px;
    }
  }
  .burger{
      width: 100%;
      &::after, &::before{
          content: "";
          display: block;
          height: 1px;
          width: 40%;
          margin: auto;
          background-color: white;
          position: relative;
          transition: transform 0.3s;
      }
      &::after{
          top: -5px;
      }
      &::before{
          top: 5px;
      }
  }
  .burgerActive{
      &::after{
          transform: rotate(45deg);
          top: -1px;
      }
      &::before{
          transform: rotate(-45deg);
          top: 0px;
      }
  }
}
