.app-profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
    .app-profile-item {
        width: 190px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin: 2rem;
    
        img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
        }
    
        @media (max-width: $layout-breakpoint-large) {
        width: 370px;
        margin: 2rem 4rem;
            img {
                height: 320px;
            }
        }
        .bold-text {
            font-size: 1rem;
            font-weight: 50;
            text-align: left;
        
            @media (max-width: $layout-breakpoint-large) {
            font-size: 1.25rem;
            }
        
            @media (max-width: $layout-breakpoint-xsmall) {
            font-size: 1.5rem;
            }
        }
        .p-text{
            text-align: left;
            line-height: 1.5;
        
            @media (max-width: $layout-breakpoint-large) {
            font-size: 2rem;
            }
        }
    }
}

.project-head{
    .sectionHeadText {
        margin: 3rem;
        font-weight: 600;
        margin-left: 20rem;
        padding-bottom: 3rem;
        color: rgb(0, 0, 0);
        font-size: 60px;
        line-height: auto;
        @media (max-width: 1360px) {
            margin: 3rem;
            margin-left: 10rem;
            font-size: 40px;
        }
        @media (max-width: $layout-breakpoint-small) {
            margin: 1rem;
            margin-left: 5rem;
            font-size: 40px;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
            margin: 1rem;
            margin-left: 3rem;
            font-size: 40px;
        }
    }
    /* CSS for sectionSubText */
    .sectionSubText {
        margin: 3rem;
        font-weight: 600;
        margin-left: 20rem;
        color: #777777;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        @media (max-width: 1360px) {
            margin: 1rem;
            margin-left: 10rem;
        }
        @media (max-width: $layout-breakpoint-small) {
            margin: 1rem;
            margin-top: 5rem;
            margin-left: 5rem;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
            margin: 1rem;
            margin-top: 5rem;
            margin-left: 3rem;
        }
    }
}