.menu{
    height: 100%;
    background-color: $white;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    color: $black;
    border-left: 2px solid $black;
    box-shadow: -4px 0 0 $black;
    width: 300px;
    
    @media (max-width: $layout-breakpoint-xsmall) {
        width: 100%;
    }
    @media (min-width: $layout-breakpoint-medium) {
        display: none;
    }

    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-top: 80px;

            .header{
                color: $black;
                border-bottom: 2px solid $black;
                text-transform: uppercase;
                font-family: $font-body;
                font-weight: $font-weight-medium;
                font-size: $font-size-caption;
                letter-spacing: 0.05em;
                padding-bottom: 8px;
                margin-bottom: 16px;
                margin-bottom: 40px;
                
                .link{
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    .indicator{
                        width: 10px;
                        height: 10px;
                        background-color: $black;
                        border: 2px solid $black;
                        position: absolute;
                        left: -30px;
                        cursor: pointer;
                    }
                }
            }

            a{
                text-decoration: none;
                color: $black;
                font-family: $font-body;
                font-weight: $font-weight-medium;
                font-size: $font-size-h3;
                cursor: pointer;
                position: relative;
                @media (max-width: $layout-breakpoint-small) {
                    font-size: 48px;
                }
                @media (max-width: $layout-breakpoint-xsmall) {
                    font-size: 40px;
                }
            }
        }
    }
    .svgCurve{
        position: absolute;
        top: 0;
        left: -99px;
        width: 100px;
        height: 100%;
        fill: rgb(41, 41, 41);
        stroke: none;
    }
}
