.menu{
    height: 100%;
    background-color: rgb(41, 41, 41);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    color: white;
    @media (max-width: $layout-breakpoint-xsmall) {
        opacity: 0.95;
    }
    @media (min-width: $layout-breakpoint-medium) {
        display: none;
    }

    .body{
        box-sizing: border-box;
        height: 100%;
        padding: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav{
            display: flex;
            flex-direction: column;
            font-size: 56px;
            gap: 12px;
            margin-top: 80px;

            .header{
                color: rgb(153, 153, 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom: 40px;
                
                .link{
                    position: relative;
                    display: flex;
                    align-items: center;
                    
                    .indicator{
                        width: 10px;
                        height: 10px;
                        background-color: white;
                        border-radius: 50%;
                        position: absolute;
                        left: -30px;
                        cursor: pointer;
                    }
                }
            }

            a{
                text-decoration: none;
                color: white;
                font-weight: 300;
                cursor: pointer;
                position: relative;
                @media (max-width: $layout-breakpoint-small) {
                    font-size: 48px;
                }
                @media (max-width: $layout-breakpoint-xsmall) {
                    font-size: 40px;
                }
            }
        }
    }
    .svgCurve{
        position: absolute;
        top: 0;
        left: -99px;
        width: 100px;
        height: 100%;
        fill: rgb(41, 41, 41);
        stroke: none;
    }
}
