.custom-timeline-element {
    //color: #111; // for the date text
    font-size: 20px;
    
}

.custom-date-class {
    @media (max-width: 1170px) { // this is for the date.
        color: #fff; // Set the text color to white for small screens
        padding-left: 30px;
        transform: scale(1.75);
        transform-origin: 0 0;
    }
}

.timeline {
    margin-top: 5rem; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    .work-title {
        color: #830A48;
        font-size: 24px;
        font-weight: bold;
    }
    .work-name {
        color: white; /* Replace with your actual secondary color */
        font-size: 20px;
    }
    .company-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .logo {
            width: 90%;
            height: 90%;
            object-fit: contain;
            @media (max-width: $layout-breakpoint-small){
                width: 70%;
                height: 70%;
            }
        }
    }
    .experience-points{
        margin-top: 1.25rem; 
        list-style-type: disc;
        margin-left: 1.25rem; 
        margin-bottom: 0;
        line-height: 1.4;
        padding-left: 1.25rem; 
        & > * + * {
            margin-top: 0.5rem; 
        }
        .list {
            color: white;
            margin-top: 1.25rem;
            font-size: 14px;
            padding-left: 0.25rem; 
            letter-spacing: 0.05em; 
        }
    }
}

.work-head{
    .sectionHeadText {
        margin: 3rem;
        font-weight: 600;
        margin-left: 20rem;
        padding-bottom: 3rem;
        color: rgb(0, 0, 0);
        font-size: 60px;
        line-height: auto;
        @media (max-width: 1360px) {
            margin: 3rem;
            margin-left: 10rem;
            font-size: 40px;
        }
        @media (max-width: $layout-breakpoint-small) {
            margin: 1rem;
            margin-left: 5rem;
            font-size: 40px;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
            margin: 1rem;
            margin-left: 3rem;
            font-size: 40px;
        }
    }
    /* CSS for sectionSubText */
    .sectionSubText {
        margin: 3rem;
        font-weight: 600;
        margin-left: 20rem;
        color: #777777;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 1px;
        @media (max-width: 1360px) {
            margin: 1rem;
            margin-left: 10rem;
        }
        @media (max-width: $layout-breakpoint-small) {
            margin: 1rem;
            margin-top: 5rem;
            margin-left: 5rem;
        }
        @media (max-width: $layout-breakpoint-xsmall) {
            margin: 1rem;
            margin-top: 5rem;
            margin-left: 3rem;
        }
    }
}
