.timeline {
    margin-top: 5rem; 
    display: flex;
    flex-direction: column;
    .work-title {
        color: rgb(167, 8, 114);
        font-size: 24px;
        font-weight: bold;
    }
    .work-name {
        color: white; /* Replace with your actual secondary color */
        font-size: 20px;
    }
    
    .company-name {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 100%;
        .logo {
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
    };
    .work-name {
        color: white; /* Replace with your actual secondary color */
        font-size: 20px;
    }

    .experience-points{
        margin-top: 1.25rem; 
        list-style-type: disc;
        margin-left: 1.25rem; 
        margin-bottom: 0;
        line-height: 1.4;
        padding-left: 1.25rem; 
        & > * + * {
            margin-top: 0.5rem; 
        }
        .list {
            color: white;
            margin-top: 1.25rem;
            font-size: 14px;
            padding-left: 0.25rem; 
            letter-spacing: 0.05em; 
        }
    }
};

.sectionHeadText {
    margin: 3rem;
    padding-bottom: 3rem;
    color: rgb(0, 0, 0);
    font-size: 60px;
    line-height: 30px;
}
/* CSS for sectionSubText */
.sectionSubText {
    margin: 3rem;
    color: #777777;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
